@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}
body{
   width: 100%;
   height: 100vh;
   font-family: 'Poppins', sans-serif;
   background: #fff;
   

}
form{
    position: relative;
    top: 50%;
    left: 70%;
    transform: translate(-40%, 5%);
    background: transparent;
    border-radius: 30px;
    padding: 30px;
    width: min-content;
    align-items: center;
    color: black;
    animation: iniciar 1.6s ease-out;
    pointer-events: all;
     
}
h2{
    margin-top: 0.5px;
    padding-left: 42%;
    padding-top: 5%;
font-size: 2.3em;
color: rgb(0, 0, 0);


}
input{
    padding-top: 100%;
    min-width: 550px;
    border-radius: 6px;
    border: 1px solid #0000008e;
    padding: 5px;
    margin: 0px 0px 10px -5px;
   
    
}
.input input{
    font-family: 'Poppins', sans-serif;
    transform: translateY(-10%);
    color: black;
}
#btn{
    margin-top: 10%;
    width: 100%;
    text-align: center;
    border-color: #110e0e;
    border-bottom: #110e0e;
}
#btn button{
font-family: 'Poppins', sans-serif;
background:  #000;
width: 100%;
height: 40px;
border: none;
font-size: 1.2em;
color: #fff;
border-radius: 6px;
outline: none;
cursor: pointer;
}
@keyframes iniciar{
    0%{
top: -20%;
opacity: 0;
pointer-events: none;
    }
    100%{
top: 50%;
opacity: 100%;
pointer-events: all;
    }
}
#btn2{
    margin-top: 2%;
    width: 100%;
    text-align: center;
   border: 1px solid #000;
   border-radius: 8px;
    
}
#btn2 button{
font-family: 'Poppins', sans-serif;
background:  #fff;
width: 100%;
height: 40px;
border: 100px;
font-size: 1.2em;
color: #000000;
border-radius: 6px;
outline: none;
cursor: pointer;

}
h3{
    
   padding-left: 41%;
   margin-top: 2%;
    font-size: 0.9em;
color: #0c0c0cd8;
 border-bottom: 0.5px solid #dbdada; /* espessura, estilo e cor da linha */
  padding-bottom: 50px; /* espaço interno opcional */
  margin-bottom: 2px; /* espaço entre o header e o conteúdo abaixo */
  
}
h4{
     color: hsl(0, 9%, 18%);
    font-size: 0.7em;
    transform: translateY(-10%);
}
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
  border-bottom: 2px solid #110e0e; /* espessura, estilo e cor da linha */
  padding-bottom: 10px; /* espaço interno opcional */
  margin-bottom: 1px; /* espaço entre o header e o conteúdo abaixo */

}
nav ul li{
    list-style: none;
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 18px;
    padding: 0 10px;
    text-transform: capitalize;
}

footer{
    background-color: #eeeef1;
    margin-top: 4%;
    padding: 100px;
   bottom: 0;
    text-align: center;
    font-size: 22px;


}

